[Main]

# The Server Density account where this device is used.
# Only the account name, e.g. abc not abc.serverdensity.io
sd_account: {{ sd_account }}

# The Server Density agent key to associate your Agent's data with a device
# on your account.
agent_key: {{ api_result.agentKey }}

# If you need a proxy to connect to the Internet, provide the settings here
# proxy_host: my-proxy.com
# proxy_port: 3128
# proxy_user: user
# proxy_password: password
# To be used with some proxys that return a 302 which make curl switch from POST to GET
# See http://stackoverflow.com/questions/8156073/curl-violate-rfc-2616-10-3-2-and-switch-from-post-to-get
# proxy_forbid_method_switch: no

# Force the hostname to whatever you want.
#hostname: mymachine.mydomain

#
# Plugins
#
# Leave blank to ignore.
# See https://support.serverdensity.com/hc/en-us/articles/213074438-Information-about-Custom-Plugins
#
plugin_directory: {{ plugin_directory }}

# ========================================================================== #
# Logging
# See https://support.serverdensity.com/hc/en-us/articles/213093038-Log-levels-agent-debug-mode
# ========================================================================== #

# log_level: INFO

# collector_log_file: /var/log/sd-agent/collector.log
# forwarder_log_file: /var/log/sd-agent/forwarder.log

# if syslog is enabled but a host and port are not set, a local domain socket
# connection will be attempted
#
# log_to_syslog: yes
# syslog_host:
# syslog_port:
