init_config:

instances:
  # This plugin requires nginx to be compiled with the nginx stub status
  # module option, and activated with the correct configuration stanza.
  # On debian/ubuntu, this is included in the `nginx-extras` package.
  #  For more details, see:
  #
  #   https://support.serverdensity.com/hc/en-us/articles/212543387-Monitoring-NGINX
  #

  - nginx_status_url: http://localhost/nginx_status/
  #   ssl_validation: False
